*~
i2p.mtn
i2p.mtn.dist
i2p.mtn-journal
i2p-0.6.1.30.tar.bz2
i2p-0.6.1.30.tar.bz2.sig
verify.out
/i2p.i2p/_MTN
*_jsp.java
*.bz2
*.class
*.diff
*.exe
*.fba
*.gz
*.jar
*.out
*.patch
*.sig
*.sud
*.su2
*.tar
*.war
*.zip
build/
classes/
/i2p.i2p/pkg-temp/
/i2p.i2p/debian/copyright
/i2p.i2p/apps/jetty/jetty-*.tgz
/i2p.i2p/apps/jetty/verified.txt
override.properties
web-out.xml
web-fragment.xml
